
body{
    font-family:'glacial','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x:hidden;
    background-size:cover;
    background-color:#1B120E;
    color: white;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;

}
#headertop{
    margin: 0px;
    padding: 0px;

    background-image:url("imagens/inicialverde.png") ;
    background-repeat: no-repeat;
    position: relative;
    left: 0px;
    top: -180px;
    height: 100vh;
    width: 100vw;
    background-size: contain;
   
}
.navega{
    font-size: 30px;
    color: white;
    background-color: rgb(29, 13, 4);
    background-size: cover;
    position: relative;
    top: -220px;
    width: 98vw;
    height: 40px;
    padding: 20px;
    
}
.navega li{
    list-style: none;
    display: inline-block;
    margin-right: 170px;
    position: relative;
    top: -20px;
   
}
a:hover{
    color: rgb(51, 143, 51);
}
a{
    color: white;
    text-decoration: none;
}

#Sobre-nos{
    margin: 0px;
    padding: 0px;
    z-index: 4;
    background-image:url("imagens/sobren.png") ;
    position: relative;
    top:-240px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-size: cover;

   
}
.textmais{
    font-size: 24px;
    color: white;
    position: relative;
    top: 280px;
    left: 80px;
    height: 80vh;
    width: 80vw;
    text-align: justify;
}
#Restricao{
    background-color: #1B120E;
    height: 80vh;
    width: 100vw;

}
button{
    background-color: transparent;

}
.catalago-restri{
    font-size: 30px;
    color: white;
    background-size: cover;
    width: 100vw;
    height: 40px;
    padding: 20px;
}
.catalago-restri li{
    list-style: none;
    display: inline-block;
    margin-right: 9%;
    position: relative;
    top: 280px;
    left: 6%;
}
.catalago-restri-logo{
    width: 100vw;
    height: 40px;
    padding: 20px;
}
.catalago-restri-logo li{
    border-radius: 50%;
    list-style: none;
    display: inline-block;
    
}
#imglactose:hover, #imgglu:hover,#imgcarb:hover, #imgveg:hover{
    background-color: #24AB39;
    width: auto;
    height: 278px;
    transition-duration: .5s;
    transition-timing-function:cubic-bezier(.34,0,1,1.17)
}

#imglactose, #imgglu,#imgcarb, #imgveg{
    margin-right: 3%;
    position: relative;
    top: 80px;
    left: 3%;

}
#txtveg{
    position: relative;
    left: 260px;
}
#txtcarb{
    position: relative;
    left: 180px;
}
#txtgluten{
    position: relative;
    left: 120px;
}
#botaocompra
{

    width: 180px;
    height: 100px;
    font-size: 24px;
    color: rgb(34, 31, 31);
    font-family: 'glacial','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:fixed;
    left: 1200px;
    top: 10px;
    background-color: #e2b68cb9;
    border-style: solid;
    border-color: rgba(141, 81, 29, 0.589);
    border-radius: 20px;
    box-shadow: 2px 2px 0px rgb(126, 81, 40);
}
#botaocompra:hover{
    z-index: -1;
    background-color: #f7d6b8b9;
    border-style: solid;
    border-color: rgba(141, 81, 29, 0.589);
    border-width: 6px;
    box-shadow: 6px 6px 0px rgb(126, 81, 40);
    transition-duration: .3s;
    transition-timing-function:cubic-bezier(.34,0,1,1.17)
}
@font-face {
    font-family: "glacial-italic";
    src: url(fonte/glacialindifference-italic-demo.html);
    src: url(fonte/glacialindifference-italic-webfont.woff)format('woff'),
    url(fonte/glacialindifference-italic-webfont.eot) format('eot'),
    url(fonte/glacialindifference-italic-webfont.svg) format('svg'),
    url(fonte/glacialindifference-italic-webfont.ttf)format('truetype');
}  

@font-face{
    font-family:"glacial" ;
    src: url(fonte/glacialindifference-regular-demo.html);
    src: url(fonte/glacialindifference-regular-webfont.woff)format('woff'),
    url(fonte/glacialindifference-regular-webfont.eot) format('eot'),
    url(fonte/glacialindifference-regular-webfont.svg) format('svg'),
    url(fonte/glacialindifference-regular-webfont.ttf)format('truetype');
}

.catalago li{
    list-style: none;
    display: inline-block;
    margin-right: 9%;
    position: relative;
    top: 380px;
    left: 6%;
}
#Catalago
{
    background-color:#1B120E;
    height: 55vh;
    width: 100vw;
    position:relative;
    top: -180px;
}
.catalago-geral li{
    font-size: 28px;
    list-style: none;
    display: inline-block;
    margin-right: 6%;
    text-align: center;
    position: relative;
    top: 240px;
    left: 6%;
    white-space: pre;
}
.catalago-ft{
    width: 100vw;
    height: 40px;
    padding: 20px;
}
h2{
    font-size: 60pt;
    text-align: center;
    font-family:'glacial-italic','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#cat-rest{
    position: relative;
    top:40px;
}
.catalago-ft li{
    list-style: none;
    display: inline-block; 
    margin-left: 4%;
}
.catalago-ft{
    width: 100vw;
    height: 40px;
    padding: 20px;
}
#farinha{
    background-color:#24AB39 ;
    width: 149px; 
    height: 295px;
}
#farinha span {
    font-size: 40px;
    text-align:justify;
    position:relative;
    top: -180px;
    left: 20px;
    border: white solid 2px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0;
}
#farinha:hover span {
	opacity: 1;
}
#farinha img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#farinha:hover img {
	opacity: .3;
}
#castanha{
    background-color:#24AB39 ;
    width: 149px; 
    height: 295px;
}
#castanha span {
    font-size: 40px;
    text-align:justify;
    position:relative;
    top: -180px;
    left: 20px;
    border: white solid 2px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0;
}
#castanha:hover span {
	opacity: 1;
}
#castanha img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#castanha:hover img {
	opacity: .3;
}
#frutdes{
    background-color:#24AB39 ;
    width: 149px; 
    height: 295px;
}
#frutdes span {
    font-size: 40px;
    text-align:justify;
    position:relative;
    top: -180px;
    left: 20px;
    border: white solid 2px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0;
}
#frutdes:hover span {
	opacity: 1;
}
#frutdes img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#frutdes:hover img {
	opacity: .3;
}
#drageada{
    background-color:#24AB39 ;
    width: 149px; 
    height: 295px;
}
#drageada span {
    font-size: 40px;
    text-align:justify;
    position:relative;
    top: -180px;
    left: 20px;
    border: white solid 2px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0;
}
#drageada:hover span {
	opacity: 1;
}
#drageada img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#drageada:hover img {
	opacity: .3;
}
#tempe{
    background-color:#24AB39 ;
    width: 148px; 
    height: 295px;
}
#tempe span {
    font-size: 40px;
    text-align:justify;
    position:relative;
    top: -180px;
    left: 20px;
    border: white solid 2px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0;
}
#tempe:hover span {
	opacity: 1;
}
#tempe img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#tempe:hover img {
	opacity: .3;
}
#cha{
    background-color:#24AB39 ;
    width: 148px; 
    height: 295px;
}
#cha span {
    font-size: 40px;
    text-align:justify;
    position:relative;
    top: -180px;
    left: 20px;
    border: white solid 2px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0;
}
#cha:hover span {
	opacity: 1;
}
#cha img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#cha:hover img {
	opacity: .3;
}

#drageadass{
    width: 149px; /* width of container */
    height: 295px; /* height of container */
    object-fit: cover;
}
#txtfa{
    position: relative;
    left: 60px;
}
#txtcast{
    position: relative;
    left: 60px;
}
#txtfru{
    position: relative;
    left: 26px;
}
#txtdra{
    position: relative;
    left: -1px;
}
#txttemp{
    position: relative;
    left: 2px;
}
#txtcha{
    position: relative;
    left: 40px;
}
#Contato{
    background-color:#1B120E;
    height: 80vh;
    width: 100vw; 
    margin: 0%; 
}
h3{
    font-size: 20px; 
    text-align: right;
    margin-right: 250px;
    position: relative;
    top: -80px;
}
.fale{
    text-align: justify;
    position: relative;
    left: 56%;
    top: -650px;
    font-size: 30px;
    line-height: 80px;
    font-family:'glacial-italic','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#faco{
    text-align: right;
    margin-right: 100px;
}
#foto-entrada{
    width: 760px;
    height: 580px;
    position: relative;
    box-sizing: border-box;
    left: 20px;
    top:-170px;
}
footer {
    background-color: #24AB39;
    height: 220px;
	}

@media screen and (min-height:750px) {
    .navega{
        font-size: 30px;
        color: white;
        background-color: rgb(156, 212, 161);
        background-size: cover;
        position: relative;
        top: -290px;
        width: 98vw;
        height: 40px;
        padding: 20px;
        
    }
    #Sobre-nos{
        margin: 0px;
        padding: 0px;
        z-index: 4;
        background-image:url("imagens/sobren.png") ;
        background-repeat: no-repeat;
        position: relative;
        top:-310px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-size: contain;
    
       
    }
    
}